<IfModule mod_rewrite.c>
    # تنظیمات مربوط به MultiViews و Indexes
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # فعال‌سازی موتور بازنویسی URL
    RewriteEngine On

    # تنظیمات CORS
    <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(allowed\.domain\.one|allowed\.domain\.two)$" AccessControlAllowOrigin=$0$1
        Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header set Access-Control-Allow-Credentials true
        Header set Access-Control-Allow-Headers "Authorization, Accept, Content-Type, Origin"
        Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    </IfModule>

    # مدیریت هدر Authorization
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # هدایت اسلش انتهایی اگر دایرکتوری نباشد
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # ارسال درخواست‌ها به کنترلر اصلی اگر فایل یا دایرکتوری وجود ندارد
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # پاسخ به درخواست‌های OPTIONS با کد 200
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule .* / [R=200,L]
</IfModule>
